<p><strong>Main Office</strong><br>
Entertainment and Community Education Center (ECEC)- Suite 401<br>
1509 Cecil B. Moore Avenue<br>
<a href="tel:2152048355">(215) 204-8355</a><br>
Fax: (215) 204-4416</p>
<hr>
<p><strong>Managing Director</strong><br>
Heidi E. Grunwald, PhD<br>
<a href="tel:2152042217">(215) 204-2217</a><br>
<a href="mailto:grunwald@temple.edu">grunwald@temple.edu</a></p>
<hr>
<p><strong>Manager of Survey Operations</strong><br>
Keisha Miles<br>
<a href="tel:2152044936">(215) 204-4936</a><br>
<a href="mailto:kmiles@temple.edu">kmiles@temple.edu</a></p>
<hr>
<p><strong>MIS Development Engineer</strong><br>
David F. Tucker<br>
<a href="tel:2152045100">(215) 204-5100</a><br>
<a href="mailto:dtucker@temple.edu">dtucker@temple.edu</a></p>
<hr>
<p><strong>Sampling Statistician Collaborator</strong><br>
Mansour Fahimi, PhD</p>
